<h1 align="center">about me</h>

<p align="center"><h4 align="center"><br>

I am a Veteran turned Technology professional.</br> I enjoy turning complex problems into simple, beautiful and intuitive interface designs.</br> When I'm not coding or pushing pixels, you'll find me in the gym</br> or along the lake shore drive running.</h4>
</p>
<br>




<!DOCTYPE html>
<html>
<head>
<style>
.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
}
</style>
</head>
<body>


<div class="newspaper">
<div class="myClass" style="margin-left: 470px;">
  <ul> <strong> Coding Skill </strong>
    <li>Git</li>
    <li>Ruby</li>
    <li>JavaScript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Ruby-on-Rails</li>
    <li>React.js</li>
  </ul>
</div>
<div class="myClass" style="margin-left: 20px;">
  <ul> <strong> Random facts </strong>

    <li>I worship Jedi Master Yoda.</li>
    <li>I don’t need a coffee but a big breakfast.</li>
    <li>I wanna fly like a superman.  </li>
    <li>I love Jazz/Blue music...Woo..I am a classy one.</li>
    <li>I use a Mac...not iPhone.</li>
  </ul>
</div>
</div>

</div>

</body>
</html>


