</br>
</br>

<!-- <h4 style="margin-left: 480px;"><%= image_tag("cplogo.png") %></h4> -->
<%= image_tag("cplogo.png", :class => "style_image") %>
</br>

<p align="center"><i>
Code Platoon is a 501(c)3 non-profit that helps veterans transition</br> into the civilian workforce by providing technical training and career placement.</br> For 14 weeks the students are immersed in learning the full Ruby on Rails stack.</br> After completing the program veterans will be eligible for an internship.
</i>
</p>
<br>
<strong>
<p align="center">Email: info@codeplatoon.org</p>

<p align="center">Classes held at:</p>

<p align="center">73 West Monroe, #303</p>

<p align="center">Chicago, IL 60603</p>

<p align="center">Call us at 312.767.7673</p>
</br>
<a href="https://www.codeplatoon.org/" target="_blank"><p style="text-align:center">Visit Us</a>
</strong>