<html lang="en">
<head>
<%= stylesheet_link_tag "welcome" %>

</head>
<body>
  <header class="v-header container">
    <div class="fullscreen-video-wrap">
     
      <%= video_tag "code.mp4",  :controls => false, :autoplay => true, :loop => true %>
      </video>
    </div>

    <div class="header-overlay"></div>
    <div class="header-content">
      <h1>Track Dime</h1><br>

      <p>Do you need a better way to manage your money? Would you like a tool to record your daily transactions? This web application is the answer! </p>
      <%= link_to 'Ready?', transactions_path, class: 'btn' %>
    </div>

  </header>
</body>
</html>



      
     
    